@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.AboutPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
	Layout = "Master.cshtml";
}

<div style="height: 75px; width:100%; background: rgba(0,0,0,0.9); margin-bottom: 75px;"></div>

@await Html.GetBlockListHtmlAsync(Model.MainContent)