@inherits UmbracoViewPage
@{
    var settings = Umbraco.ContentAtRoot().OfType<Settings>().FirstOrDefault();
    var footer = settings?.SomeFooterProperty;
}

@if (settings == null)
{
    <p>settings are null</p>
}

<h3>@footer</h3>