@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (RichTextRow)Model.Content;
    var settings = (RichTextRowSettings)Model.Settings;
    if (row == null || settings.Hide)
    {
        return;
    }
}
<div class = "container">
    @row.TextContent
</div>