@inherits UmbracoViewPage<BlockListItem>

@{
    var row = (TwoColumnsRow)Model.Content;
    var settings = (TwoColumnsRowSettings)Model.Settings;
    if (row == null || settings.Hide)
    {
        return;
    }
    var cards = row.Cards;
}

<div class="container py-5">
    <div class="row flex-wrap justify-content-center d-flex">
        @if (!string.IsNullOrWhiteSpace(row.Title))
        {
            <h2 class="text-center">@row.Title</h2>
        }
        @if (!string.IsNullOrWhiteSpace(row.Description))
        {
            <p class="text-center">@row.Description</p>
        }
        @if (row.Cards != null && row.Cards.Any())
        {
            <div class="card-group">
                @foreach (var item in row.Cards)
                {
                    <div class="col-md-6 col-12 p-2 d-flex justify-content-center">
                        @await Html.PartialAsync("blocklist/Components/" + item.Content.ContentType.Alias, item)
                    </div>
                }
            </div>
        }
    </div>
</div>
